/* Basic */

html {
  min-height: 100%;
}

body {
  background-attachment: scroll;
  background-size: auto;
  background-position: top;
}

@media screen and (max-width: 2000px) {
  html,
  body {
    min-width: 320px;
    padding: 2% 0 2%;
  }
}

@media screen and (min-width: 2000px) {
  html,
  body {
    padding: 4% 0 4%;
  }
}

/* Typo */

html {
  font-size: 13pt;
}

@media screen and (max-width: 1680px) {
  html {
    font-size: 11pt;
  }
}

@media screen and (max-width: 1280px) {
  html {
    font-size: 11pt;
  }
}

@media screen and (max-width: 980px) {
  html {
    font-size: 12pt;
  }
}

@media screen and (max-width: 736px) {
  html {
    font-size: 12pt;
  }
}

@media screen and (max-width: 480px) {
  html {
    font-size: 12pt;
  }
}

body,
input,
select,
textarea {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.65;
}

@media screen and (max-width: 480px) {
  .special {
    text-align: center;
  }

  ul {
    padding-inline-start: 0px;
    display: inline-block;
    text-align: left;
  }
}

@media screen and (min-width: 480px) {
  p {
    margin: 0 0 2rem 0;
  }
  .text-inner {
    padding-left: 40px;
  }
}

strong,
b {
  font-weight: 600;
}

em,
i {
  font-style: italic;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
  line-height: 1.5;
  margin: 0 0 1rem 0;
}

h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
  color: inherit;
  text-decoration: none;
}

h2 {
  font-size: 1.75rem;
}

h3 {
  font-size: 1.35rem;
}

h4 {
  font-size: 1.1rem;
}

h5 {
  font-size: 0.9rem;
}

h6 {
  font-size: 0.7rem;
}

input,
select,
textarea {
  color: #1e1f23;
}

a {
  color: #272727;
  text-decoration: none;
}

a:hover {
  color: #000000;
  text-decoration: underline;
}

strong,
b {
  color: #1e1f23;
}

h2,
h3,
h4,
h5,
h6 {
  color: #242425;
  font-family: "Inter", sans-serif;
}

/* List */

ul {
  list-style-type: none;
  margin: 0 0 2rem 0;
}

/* Background moving gradient */

body {
  background: linear-gradient(-45deg, #c4def9, #e3dec9, #e2e4ec, #c9e5e0);
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

#header {
  cursor: default;
  position: relative;
  text-align: center;
}

#header > .logo {
  margin: 0 0 4rem 0;
  padding: 0;
}

#header > .logo a {
  font-size: 4rem;
  font-weight: 700;
  text-decoration: none;
  line-height: 1rem;
}

@media screen and (max-width: 736px) {
  #header > .logo {
    margin: 0 0 2rem 0;
  }

  #header > .logo a {
    font-size: 3rem;
  }
}

/* Main */

#main > .inner {
  margin: 0 auto;
  width: 80rem;
  max-width: 90%;
  margin-bottom: 2rem;
  border-radius: 32px;
  background-color: rgb(255, 255, 255, 0.4);
}

#main > .headline {
  margin: 0 auto;
  width: 80rem;
  max-width: 90%;
  margin-bottom: 2rem;
  text-align: center;
  font-size: 2rem;
}

@media screen and (min-width: 980px) {
  #main > .inner {
    max-width: 800px;
  }
  #main > .headline {
    max-width: 800px;
  }
}

.wrapper > header {
  padding: 2rem;
  margin: 0;
}

.wrapper > header h2 {
  position: relative;
  padding-bottom: 0.75rem;
}

.wrapper > header h2:after {
  content: "";
  position: absolute;
  margin: auto;
  right: 0;
  bottom: 0;
  left: 0;
  width: 10%;
  height: 1px;
}

@media screen and (max-width: 980px) {
  .wrapper > header.special {
    padding: 3rem 2rem;
  }
}

@media screen and (max-width: 736px) {
  .wrapper > header {
    padding: 1.5rem;
  }

  .wrapper > header h2 {
    font-size: 1.5rem;
  }

  .wrapper > header h2:after {
    width: 50%;
  }
}

.wrapper.style1 .content {
  padding: 6rem;
}

@media screen and (max-width: 1280px) {
  .wrapper.style1 .content {
    padding: 4rem;
  }
}

@media screen and (max-width: 736px) {
  .wrapper.style1 .content {
    padding: 2rem;
  }
}

.wrapper.style2 {
  background: #1e1f23;
  padding: 6rem;
}

.wrapper.style2 header {
  background: #121315;
  border-radius: 4px 4px 0 0;
}

.wrapper.style2 header h2:after {
  background-color: rgba(145, 118, 118, 0.125);
}

@media screen and (max-width: 1280px) {
  .wrapper.style2 {
    padding: 4rem;
  }
}

@media screen and (max-width: 736px) {
  .wrapper.style2 {
    padding: 2rem;
  }
}

/* Just for some pages visible links */

#linksvisible a {
  text-decoration: underline;
  color: rgb(89, 93, 117);
}

/* Podcast Button */

.btn-gradient {
  background: linear-gradient(to right, #e3dec9, #c9e5e0) border-box;
  border-radius: 12px;
  border: 24px solid transparent;
  transition-duration: 0.4s;
  margin: 0 0 40px 40px;
}

.btn-gradient:hover {
  background: linear-gradient(to right, #c4def9, #e2e4ec) border-box;
  border-radius: 48px;
  border: 24px solid transparent;
  cursor: pointer;
}

@media screen and (max-width: 480px) {
  .btn-gradient {
    margin: 0 auto 40px auto;
  }
}
